h1 {
    font-family: 'Courier New', Courier, monospace;
    color:rgb(141, 111, 66);
}
h4 {

    font-family: 'Courier New', Courier, monospace;
    color:rgb(141, 111, 66);
}
li {
    font-size: large;
}
body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: beige;
}
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}