{% extends "template.html" %} {% block content %}

<label>Question Title</label>
<input name = "title" id = "title"></input>
<br/>

<label>Question Detail</label>
<input name = "detail" id = "detail"></input>
<br/>
<button type = "submit" onclick="addQuestionFromJS()">Submit</button>

<script>

    const token = Cookies.get('email');

    console.log(token);

    function addQuestionFromJS() {
        
        axios.post("/add_question", { "title": title.value, "detail": detail.value, headers: { Authorization: `Bearer ${token}`}})
        .then(function (response) {
            
            console.log(response);
        })

        .catch(function (error) {

            console.log(error);
        });
    }
</script>
{% endblock %}